{% extends 'base.html' %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="jumbotron">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default" style="width: 150px;">Old Password </span>
                {{ form.old_password }}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                      style="width: 150px;">New Password </span> {{ form.new_password1 }}</div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                      style="width: 150px;">Confirm Password</span>
                {{ form.new_password2 }}

            </div>

            <button type="submit" class="btn btn-secondary btn-lg " style="\margin-left: 65px;width: 150">Submit
            </button>
        </div>
    </form>
{% endblock %}